[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djlint = "*"
django-vite = "*"
django-environ = "*"
whitenoise = "*"
gunicorn = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.12"
